{{!-- Partial layout to use for each comment --}}
{{#each this}}
<div class="col-8 mt-4 ">
        <div class="card">
            <div class="card-header custom-card-header">
            <span><b>Comment</b> posted by {{user.username}}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{body}}</p>
            </div>
        </div>
</div>
{{/each}}