<div class="col-4 mt-5 custom-form">
    <h2 class="pb-4">Login</h2>
    <form class="loginForm">
        <div class="mb-3">
            <label for="usernameLogin" class="form-label">Username</label>
            <input type="text" class="form-control" id="usernameLogin" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="passwordLogin" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordLogin">
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <a href="/signup">No Account? Sign Up Now</a>
</div>

<script src="/js/login.js"></script> 