{{!-- new post form --}}
<div class="col-6 mt-5 custom-form">
    <h2 class="pb-3">Create New Blog Post</h2>
    <form class="newPostForm">
        <div class="mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="postTitle" aria-describedby="postHelp">
        </div>
        <div class="mb-3">
            <label for="postContent" class="form-label">Content</label>
            <textarea type="text" class="form-control" id="postContent"></textarea>
        </div>

            <button type="submit" class="btn">Create</button>
    </form>
</div>

{{!-- scripts --}}
<script src="/js/addPost.js"></script> 