<div class="col-4 mt-5">
    <h2 class="pb-4">Signup</h2>
    <form class="signupForm">
        <div class="mb-3">
            <label for="usernameSignup" class="form-label">Username</label>
            <input type="text" class="form-control" id="usernameSignup" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="passwordSignup" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordSignup">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
   <a href="/login">Have An Account? Login Here</a>
</div>

<script src="/js/signup.js"></script>

