{{!-- show a single post with a section of comments and a for to creat a comment --}}
<div class="col-8 pt-5">
    <a href="/post/{{post.id}}">
        <div class="card">
            <div class="card-header custom-card-header">
            <h3>{{post.title}}</h3> <span>Posted by {{post.user.username}}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{post.body}}</p>
            </div>
        </div>
    </a>
</div>

{{> comment post.comments}}

<div class="col-8 mt-5 custom-form">
<h2 class="pb-3">Add a Comment</h2>
    <form class="commentPostForm">
        <div class="mb-3">
            <label for="postContent" class="form-label">Content</label>
            <textarea type="text" class="form-control" id="postContent"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</div>

{{!-- scripts --}}
<script src="/js/addComment.js"></script>